PORT=3002
ILIACHALLENGE=
ILIACHALLENGE_INTERNAL=
# Local: mysql://user:password@localhost:3308/users
# Docker: mysql://user:password@db-users:3306/users
DATABASE_URL=mysql://user:password@db-users:3306/users
